Repository Devs-On-Discord/DoDdy, changes with the owners that CODEOWNERS names for each.
All owners: @Devs-On-Discord, @fabianterhorst, @thisisipat, @wasdennnoch

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @Devs-On-Discord

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/bot @fabianterhorst
/buildSrc @fabianterhorst
/core @fabianterhorst @thisisipat @wasdennnoch
/info @thisisipat @fabianterhorst
/moderation @wasdennnoch @thisisipat
/reputation @fabianterhorst @thisisipat
/support @thisisipat

More READMEs
  bot/README.md
  reputation/README.md
Owners: @fabianterhorst, @thisisipat

Fixed README formatting
  info/README.md
Owners: @thisisipat, @fabianterhorst

Started reputation getter feature
  core/src/main/kotlin/com/github/dod/doddy/guilds/Guild.kt
  reputation/README.md
  reputation/src/main/kotlin/com/github/dod/doddy/ReputationChanger.kt
  reputation/src/main/kotlin/com/github/dod/doddy/ReputationFeature.kt
  support/README.md
  support/src/main/kotlin/com/github/dod/doddy/help/HelpFeature.kt
Owners: @fabianterhorst, @thisisipat, @wasdennnoch

Add support for <User> command argument type
  bot/src/main/kotlin/com/github/dod/doddy/parser/CommandFunctionExtension.kt
Owners: @fabianterhorst

Update README.md
  README.md
Owners: @Devs-On-Discord

Update README.md
  README.md
Owners: @Devs-On-Discord

Made code compilable
  reputation/src/main/kotlin/com/github/dod/doddy/ReputationFeature.kt
Owners: @fabianterhorst, @thisisipat
